* {
  box-sizing: border-box;
  margin: 0;
  background-color: #ab88ff;
  color: #fff;
  font-family: "Poppins", sans-serif;
  /* font-weight: 600; */
}

.header {
  /* background-color: #ab88ff; */
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.header__menu {
  margin-right: 30px;
  /* margin-top: 10px; */
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  text-align: right;
  margin: 0px 0px 0px -5px;
}

.header__menu:hover ul,
ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  text-decoration: none;
}
.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  /* margin-right: 8px; */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__menu--profile img {
  width: 40px;
  margin-right: 8px;
}
